
{% extends 'core/base.html' %}

{% load static %}

{% block css%}
    

{% endblock%}


{% block contenido%}


		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Mis compras</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<div class="untree_co-section before-footer-section">
            <div class="container">
              <div class="row mb-5">
                <form class="col-md-12" method="post">
                  <div class="site-blocks-table">
                    <table class="table">

                      <tbody>
                        <tr>
                          <td class="product-name">
                            <h2 class="h5 text-black">Compra 1</h2>
                          </td>
                          <td>$49.000</td>
                          <td>

        
                          </td>
                          <td>ENTREGADO</td>
                          <td> EN CAMINO</td>

                        </tr>
        
                        <tr>
                            <td class="product-name">
                              <h2 class="h5 text-black">Compra 2</h2>
                            </td>
                            <td>$100.500</td>
                            <td>
  
          
                            </td>
                            <td> EN CAMINO</td>
                            <td> EN CAMINO</td>
                          </tr>

                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
        
              <div class="row">
                <div class="col-md-6">
                  <div class="row mb-5">
                    <div class="col-md-6 mb-3 mb-md-0">
                      <button class="btn btn-outline-black btn-sm btn-block" onclick="window.location='{% url 'cart' %}';">Volver al carro</button>
                   
            </div>
        </div>
    </div>
          </div>
        </div>
		

		  {% endblock%}	
      {% block js%}
    

      {% endblock%}